<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <h1>{{titulo}}</h1>
        <ul>
            <li v-for="heroe of heroes">{{heroe}}</li>
        </ul>

        <ul>
            <li v-for="arma of armas">{{arma.nombre}} - {{arma.poder}} -
                <span v-if="arma.poder === 2">Muy debil</span>
            </li>

        </ul>

    </div>




    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>